*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.5);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    transition: 500ms;
}

.navbar ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 80vw;
    gap: 10px;
}

.navbar ul li a{
    color: rgb(128, 128, 128);
    font-weight: 700;
}

.navbar ul li a:hover{
    color: rgb(2, 70, 135);
    border-bottom: 4px solid rgb(2, 70, 135);
    padding: 10px 0px;
}

.navbar-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    scroll-snap-align: start;
    height: 1000px;
}

h1{
    font-size: 4.5rem;
}

#container-1{
    background-image: radial-gradient(ellipse farthest-corner at 0% 0%, rgba(102, 227, 255,0.8) 25%,rgba(3, 71, 135,0.9)),url("../img/fondo_animado_1.gif");
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#container-2{
    background-image: radial-gradient(ellipse farthest-corner at 0% 50%, rgba(188, 241, 252, 0.35),rgba(85, 165, 240, 0.25));
}

#container-3{
    color:rgb(3, 71, 135);
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 150px;
}

.contenido form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenido form input{
    width: 400px;
}

.contenido button{
    padding: 5px 10px;
    text-transform: uppercase;
}

#contenido-1{
    gap: 80px;
    opacity: 80%;
}

#contenido-1 ul{
    list-style: none;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    width: 850px;
}

#contenido-1 button{
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    background-color: rgb(3, 71, 135);
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 15px 30px;
}

#contenido-2{
    opacity: 80%;
    gap: 80px;
}

#contenido-2 p{
    padding: 40px 60px;
    border: 1px solid rgb(3,71,135);
    color:rgb(3, 71, 135);
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: italic;
    width: 1000px;
    text-align: justify;
    line-height: 2.25rem;
    text-shadow: 1px 1px 5px rgba(2, 70, 135,0.25);
}

.contenido-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    padding: 150px;
    gap: 50px;
}

.contenido-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "seccion-titulo seccion-titulo seccion-titulo" "item-1 item-2 item-3" "item-4 item-5 item-6";
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    padding: 150px;
    gap: 50px;
}

#contenido-3{
    grid-template-areas: "seccion-titulo seccion-titulo" "mision mision" "item-1 item-2" "item-3 item-4" "item-5 item-5";
    opacity: 80%;
    height: 1200px;
}

#mision{
    grid-area: mision;
    padding: 40px 60px;
    border: 1px solid rgb(3,71,135);
    color:rgb(3, 71, 135);
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: italic;
    width: 1000px;
    text-align: justify;
    line-height: 2.25rem;
    text-shadow: 1px 1px 5px rgba(2, 70, 135,0.25);
}

#clientes{
    grid-template-areas: "seccion-titulo seccion-titulo" "item-1 item-2";
}

#contacto{
    grid-template-areas: "seccion-titulo seccion-titulo seccion-titulo" "item-1 item-2 item-3" "item-4 item-4 item-4";
}

.item-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item-descripcion h3{
    font-size: 1.5rem;
}

.item-descripcion p{
    display: flex;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.item-descripcion button{
    padding: 5px 10px;
}

#seccion-titulo{
    grid-area: seccion-titulo;
    display: flex;
    justify-content: center;
    color: rgba(3, 71, 135,0.9);
    padding-bottom: 40px;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0, 50, 90, 0.5);
}


#seccion-titulo-blanco{
    grid-area: seccion-titulo;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225, 225, 255);
    color: white;
}

#item-1{
    grid-area: item-1;
}

#item-2{
    grid-area: item-2;
}

#item-3{
    grid-area: item-3;
}

#item-4{
    grid-area: item-4;
}

#item-5{
    grid-area: item-5;
}

#item-6{
    grid-area: item-6;
}

#equipo{
    grid-template-areas: "seccion-titulo seccion-titulo seccion-titulo seccion-titulo" "item-1 item-2 item-3 item-4";
}

.equipo-miembro{
    width: 200px;
    height: 200px;
    background-size: contain;
}

.equipo-miembro div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    gap: 10px;
    color: transparent;
    padding: 5px;
}

.equipo-miembro div:hover{
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.equipo-miembro p{
    font-size: 0.75rem;
    text-align: center;
    text-transform: none;
}

#equipo-1{
    grid-area: item-1;
    background-image: url("../img/equipo-1.jpg");
}

#equipo-2{
    grid-area: item-2;
    background-image: url("../img/equipo-2.jpg");
}

#equipo-3{
    grid-area: item-3;
    background-image: url("../img/equipo-3.jpg");
}

#equipo-4{
    grid-area: item-4;
    background-image: url("../img/equipo-4.jpg");
}

.contacto-boton{
    height: 70px;
    width: 70px;
    background-color: transparent;
    background-size: cover;
    border-width: 0px;
}

#boton-1{
    background-image: url("../img/envelope.svg");
}

#boton-2{
    background-image: url("../img/comment.svg");
}

#boton-3{
    width: 80px;
    background-image: url("../img/map.svg");
}

.mapa{
    display: flex;
    justify-content: center;
}

.redes-container{
    display: flex;
    justify-content: space-evenly;
}

.instagram{
    height: 80px;
    width: 70px;
    background-image: url("../img/instagram.svg");
    background-size: cover;
}

.linkedin{
    height: 80px;
    width: 70px;
    background-image: url("../img/linkedin-in.svg");
    background-size: cover;
}

.volver{
    display: inline-block;
    justify-content: center;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    width: 100px;
    position: sticky;
    bottom: 0px;
}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 1000px){
    
}