*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    user-select: none;
    border-color: #1E2529;
}

html{
    scroll-behavior: smooth;
    scroll-margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    transition: 500ms;
    width: 1000px;
    padding: 0px 25px;
}

#nav-logo{
    width: 150px;
    position: relative;
    bottom: 5px;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 750px;
}

.navbar ul li a{
    color: rgb(83, 119, 134);
    font-weight: 900;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color:  rgb(2, 70, 135);
    border-bottom: 3px solid  rgb(2, 70, 135);
    padding: 10px 0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    position: relative;
}

h1{
    font-size: 4.5rem;
}

h2{
    letter-spacing: 0.3rem;
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1000px;
    background-image: radial-gradient(ellipse farthest-corner at 0% 0%, rgba(83, 119, 134, 0.9) 25%,rgba(126, 157, 170,0.9));
    color: white;
}

.container-2, #container-4, #container-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1000px;
    background-color: #e8eef1;
    color:rgb(2, 70, 135);
}

.container-3, #container-5, #container-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1000px;
    background-color: rgb(83, 119, 134);
    color:#ffffff;
}

.visivia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    gap: 80px;
    position: absolute;
    width: fit-content;
}

.visivia ul{
    list-style: none;
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0.1rem;
    width: 1000px;
}

.visivia button{
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    background-color: rgb(2, 70, 135);
    border: 0px;
    border-radius: 3px;
    padding: 15px 30px;
}

.video-back{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9) {
    .video-back {
        width: auto;
        height: 100%;
    }
}

.quienessomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    opacity: 90%;
}

.quienessomos p{
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
}

.quehacemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    opacity: 90%;
}

.quehacemos .grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "seccion-titulo seccion-titulo" "linea-horz linea-horz" "mision mision" "item-1 item-2" "item-3 item-4" "item-5 item-5";
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#mision{
    grid-area: mision;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.15rem;
    font-weight: 600;
    width: 900px;
    text-align: center;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
}

.identidad{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "seccion-titulo seccion-titulo seccion-titulo" "linea-horz linea-horz linea-horz" "item-1 item-2 item-3" "item-4 item-5 item-6";
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 150px;
    gap: 50px;
    opacity: 90%;
}

.equipo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "seccion-titulo seccion-titulo seccion-titulo" "linea-horz linea-horz linea-horz" "item-1 item-2 item-3" "item-4 item-5 item-6";
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 50px;
    opacity: 90%;
}

.alianzas{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "seccion-titulo seccion-titulo" "linea-horz linea-horz" "item-1 item-2";
    justify-content: center;
    align-items: center;
    width: 900px;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 50px;
    opacity: 90%;
}

.item-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-descripcion h3{
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-align: center;
}

.item-descripcion p{
    display: flex;
    font-size: 1rem;
    text-align: center;
    width: 450px;
}

.item-descripcion a{
    background-color: rgb(2, 70, 135);
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 30px;
}

#seccion-titulo{
    grid-area: seccion-titulo;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-bottom: 40px;
}

#linea-horz{
    grid-area: linea-horz;
    border-top: 3px solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 200px;
    margin: auto;
    margin-bottom: 40px;
}

#item-1{
    grid-area: item-1;
}

#item-2{
    grid-area: item-2;
}

#item-3{
    grid-area: item-3;
}

#item-4{
    grid-area: item-4;
}

#item-5{
    grid-area: item-5;
}

#item-6{
    grid-area: item-6;
}

.equipo-miembro{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-size: contain;
    box-shadow: 1px 1px 5px rgba(2, 70, 135,0.35);
}

.equipo-miembro div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    gap: 10px;
    color: transparent;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.equipo-miembro div:hover{
    display: flex;
    color: white;
    background-color: rgba(30, 37, 41, 0.5);
}

.equipo-miembro h3{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

#miembro-1{
    grid-area: item-1;
    background-image: linear-gradient(rgba(5, 70, 132, 0.15),rgba(151, 160, 165, 0.25)), url("../img/equipo-1.jpg");
}

#miembro-2{
    grid-area: item-2;
    background-image: linear-gradient(rgba(5, 70, 132, 0.1),rgba(151, 160, 165, 0.25)),url("../img/equipo-2.jpg");
}

#miembro-3{
    grid-area: item-3;
    background-image: linear-gradient(rgba(5, 70, 132, 0.1),rgba(151, 160, 165, 0.25)),url("../img/equipo-3.jpg");
}

#miembro-4{
    grid-area: item-4;
    background-image: linear-gradient(rgba(5, 70, 132, 0.1),rgba(151, 160, 165, 0.25)),url("../img/equipo-4.jpg");
}

#miembro-5{
    grid-area: item-5;
    background-image: linear-gradient(rgba(5, 70, 132, 0.1),rgba(151, 160, 165, 0.25)),url("../img/equipo-5.jpg");
}

#miembro-6{
    grid-area: item-6;
    background-image: linear-gradient(rgba(5, 70, 132, 0.1),rgba(151, 160, 165, 0.25)),url("../img/equipo-6.jpg");
}

.contacto{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "seccion-titulo" "linea-horz" "formulario";
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 150px;
    gap: 50px;
    opacity: 90%;
}

.formulario{
    grid-area: formulario;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "formulario-datos formulario-resto";
    width: 800px;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

.formulario input{
    margin-top: 10px;
    width: 300px;
    height: 25px;
    text-indent: 2px;
    border: 0px none;
}

.formulario-datos{
    grid-area: formulario-datos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario-datos div{
    display: flex;
    flex-direction: column;
}

.formulario-resto{
    grid-area: formulario-resto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#consulta input{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    height: 200px;
    width: 400px;
}

#enviar input{
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    background-color:rgb(2, 70, 135);
    color: white;
    border: 0px;
    border-radius: 3px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100vw;
    background-color: #1E2529;
    padding: 20px;
}

footer ul{
    list-style: none;
    text-transform: uppercase;
}

footer ul a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
}

.footer-container{
    display: flex;
}

.footer-izquierdo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.footer-derecho{
    display: flex;
    justify-content: center;
    width: 450px;
}

#footer-logo{
    width: 150px;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    width: 450px;
    gap: 40px;
}

.copyrights{
    color: white;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 0.05rem;
}

.copyrights hr{
    border-top: 1px solid white;
    width: 400px;
    margin-bottom: 10px;
}


@media screen and (max-width: 720px){
    .navbar ul li{
        display: none;
    }

    #contenido-3{
        grid-template-areas: "seccion-titulo seccion-titulo" "linea-horz linea-horz" "mision mision" "item-1 item-2" "item-3 item-4" "item-5 item-5";
    }
}

@media screen and (max-width: 1000px){
    #nav-logo{
        width: 100px;
        margin-right: 10px;
    }

    .navbar{
        justify-content: space-evenly;
        height: 70px;
        width: 750px;
    }

    .navbar ul{
        width: 600px;
    }

    .navbar ul li a{
        font-size: 0.65rem;
    }

    section{
        height: 800px;
    }
    
    #seccion-titulo{
        font-size: 2.5rem;
    }
  
    .visivia ul{
        font-size: 2.75rem;
        line-height: 4rem;
        width: 620px;
    }
    
    .visivia button{
        font-size: 1rem;
    }

    .quienessomos p{
        padding: 20px 20px;
        font-size: 0.9rem;
        width: 650px;
    }

    .item-descripcion h3{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    
    .item-descripcion p{
        font-size: 0.85rem;
        text-align: center;
        width: 300px;
    }

    .quehacemos{
        grid-template-areas: "seccion-titulo seccion-titulo" "linea-horz linea-horz" "mision mision" "item-1" "item-2" "item-3" "item-4" "item-5" "item-5";
    }
    
    .quehacemos p{
        display: flex;
        letter-spacing: 0.03rem;
    }

    #mision{
        padding: 20px 20px;
        font-size: 0.9rem;
        width: 650px;
    }
}